/* Ortalanmış form kapsayıcı */
.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    padding: 20px;
}

/* Form stilleri */
.change-password-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 5px solid #ddd;
    border-radius: 20px;
    background-color: rgba(226, 218, 214, 0.3);
}

/* Hata mesajı stili */
.change-password-container .error {
    color: rgb(255, 0, 0);
}

/* Başarı mesajı stili */
.change-password-container .success {
    color: green;
}

/* Buton stilleri */
.change-password-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #7FA1C3;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Etiketlerin ve input alanlarının stilleri */
.change-password-container label {
    display: block;
    margin-bottom: 5px;
}

.change-password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}