table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: rgba(226, 218, 214, 0.3);
}

.table-container {
    position: relative;
}

.table-container .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: rgba(226, 218, 214, 0.8);
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagination {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.pagination button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}


.search-container {
    margin-bottom: 20px;
}

.search-container input {

    padding: 5px;
    font-size: 16px;
}