.reset-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-image: url('../image/login-arkaplan.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reset-password h2 {
    margin-bottom: 20px;
    color: #333;
}

.reset-password form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 9px #0000001a;
    width: 380px;
    padding: 40px;
    text-align: center;
}

.reset-password label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.reset-password input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background: #f1f1f1;
    transition: background 0.3s ease, border-color 0.3s ease;
    margin-bottom: 20px;
}

.reset-password input[type="password"]:focus {
    background: #fff;
    border-color: #111dcb;
}

.reset-password button {
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, #111dcb, #2575fc);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.reset-password button:hover {
    background: linear-gradient(to right, #2575fc, #111dcb);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reset-password .message {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}